* {
    padding:0;
    margin:0;
    border:none;
    box-sizing: border-box;
}
/* Main wrapper & header */

body {
    background-color: lightgrey;
}
body header {
   min-height: 500px;
   background-image: url('img/technology.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   z-index: -2;
   text-align: center;
   color: white;
}

body header:before {
   content: '';
   background-color: rgba(0, 0, 0, 0.8);
   position: absolute;
   z-index: -1;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
} 
.wrapper {
    margin: auto;
    width: 100%;
}

#ie7banner {
    display: none;
}
header {
    text-align: center;
}

.bannertxt {
    text-align: center;
    padding-top: 8em;
    padding-bottom: .1em;
}
.txtmain {
    padding-top: 2em;
    padding-bottom: 2em;
}
#buttmain {
    margin: auto;
}

/* Nav bar list*/




/* Div type styles*/

.dtwhite {
    background-color: white;
    position: relative;
}
.dtlitegr {
    background-color: #F2F2F2;
    position: relative;
}
.dtblack {
    background-color: black;
    position: relative;
}
.dtdrkgr {
    background-color: #272727;
    position: relative;
}

.headandpara {
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: -5px;
    position: relative;
    overflow: hidden;
}
.intro {
    width: 60%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    margin-top: 10%;
}

.rowtxt {
    max-width: 1086px;
    margin: 0 auto;
}

.txt {
    max-width: 960px;
    margin: 0 auto;
}
.txtinner {
    }

.txtinner h4{
    padding-top: 2.6em;
}
.sevenfive {
    width: 75%;
}
.ninety {
    width: 90%;
}
.fourpanels {
    max-width: 960px;
    margin: 0 auto;
}

.staff {
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 4em;
    padding-bottom: 0em;
    
}

.fourpanels.staff {
    margin-bottom: 100px;
}
.oneoffour {
    width: 24%;
    display: inline-block;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 6em;
    margin-right: 1%;
}

.oneoffour:last-child {
    margin-right: 0;
}

.john { 
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.johntxt {
    max-width: 490px;
    float: left;
}

.progressbars {
    margin-top: 80px;
    margin-left: 36px;
    width: 45%;
    height: 100%;
    float: left;
    margin-bottom: 80px;
}

.progressbars p {
    font-size: 0.8em;
    text-align: right;
}

.meter { 
	height: 8px;  /* Can be anything */
	position: relative;
	background: #555;
    margin-bottom: 14px;
}

.meter > span {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #8CC739;
}

.meter:last-child {
    margin-bottom: 0;
}


.brands {
    margin: 0 auto;
    padding: 0;
    max-width: 1600px;
    height: auto;
    background-color: lightgrey;
    overflow: auto;
}

.pricebody {
   margin-bottom: 18px;
   margin-top: 40px;
}
.panelsfive {
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.clients {
    height: 400px;
}
.oneoffive {
    width: 19%;
    display: inline-block;
    text-align: center;
    margin-top: 2.4em;
    margin-bottom: 6em;
    margin-right: 1%;
    float: left;
    font-size: 1.6em;
    text-shadow: 1px 1px black;
}

.oneoffive img {
    display: inline-block;
}

.forttxt {
    display: inline-block;
    top: -10px;
}

.clientsspace {
    height: 60px;
}






footer {
    background-color: #F2F2F2;
    
}







