/* Object styles*/
#logomain {
    padding-bottom: 2em;

}
/* #butnmain {
    margin-top: 1em;
    padding-top: .6em;
    padding-bottom: .3em;
    padding-left: 1em;
    padding-right: 1em;
} */
.buttgr {
    display: block;
    width: 9.125em;
    height: 2.375em;
    background-color: #8CC739;
    margin: 0 auto;
    vertical-align: middle;
}
.buttgr a {
    text-decoration: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    font-size: 1.8em;
}


.buttgr:hover {
    background-color: #517A17;
    color: #8CC739;
}

#littlemouse {
    margin-top: 12em;
    padding-bottom: 1em;
}
#navlogo {
    margin-left: 2em;
    margin-top: 1em;
}
.hr {
    display: block;
    width: 2.1875em;
    margin-top: .04em;
    margin-bottom: .04em;
    border-style: inset;
    border-width: .05em;
 }
#hr1 {
    display: block;
    width: 20%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40%;
    margin-right: 40%;
    border-style: inset;
    border-width: .05em;
    border-color: dodgerblue;
}
.hr2 {
    display: block;
    margin: 0 auto;
    width: 80%;
    margin-top: .04em;
    margin-bottom: .04em;
    border-style: inset;
    border-width: .05em;
    border-color: silver;
}

#mobile {
    display: block;
    background-repeat: no-repeat;
    width: 19.6875em;
    height: 24.375em;
    margin-top: 4em;
    float: right;
}

.wedoicon {

}

.wedo a {
    height: 6em;
    width: 10em;
    margin: 0 auto;
}

.we span{
    margin: 0 auto;
    height: 6em;
    width: 6em;
}
.fa-circle {
    color: white;
    font-size: 4em;
    }

.fa-thumbs-up {
    color: #8CC739;
    font-size: 1em;
    margin-top: 23px;
}

.fa-headphones {
    color: #8CC739;
    font-size: 1em;
    margin-top: 23px;
}

.fa-star {
    color: #8CC739;
    font-size: 1em;
    margin-top: 23px;
}

.fa-cube {
    color: #8CC739;
    font-size: 1em;
    margin-top: 23px;
}

.wedo:hover .fa-circle {
    color: #8CC739;
        }
.wedo:hover .fa-thumbs-up {
    color: white;
        }
.wedo:hover .fa-headphones {
            color: white;
        }
.wedo:hover .fa-star {
            color: white;
        }
.wedo:hover .fa-cube {
            color: white;
        }

.blkicon {
    font-size: 4em;
    color: #8CC739;
}

.imgbkgrnd {
    position: relative;
    background-color: #8CC739;
    width: 221px;
    height: 250px;
    margin-right: 17px;
    float: left;
}

 .image {
    position: relative;
    width: 100%;
}
.hide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.show {
  display: block;
}

.imgbkgrnd:first-of-type {
    margin-left: 2px;
}

.imgbkgrnd:last-of-type {
    margin-right: 0;
}


.image:hover {
    background-color: #8CC739;
    opacity: 0.7;
}

.imgbkgrnd .fa-caret-up {
    display: none;
}
.imgbkgrnd:hover .fa-caret-up {
    display: block;
}

.image:hover {
    outline-style: solid;
    outline-color: green;
    outline-width: 2.4px;
    outline-offset: 0;
}

.fa-caret-up {
    position: absolute;
    color: black;
    font-size: 5em;
    bottom: -1.55em;
    z-index: 100;
    left: 40%;
}
.fa-caret-up .one {
    padding-left: 60px;
}
.fa-caret-up .two {
    left: 520px;
}
.fa-caret-up .three {
    left: 530px;
}
.fa-caret-up .four {
    left: 610px;
}

.fa-chevron-circle-right {
    position: absolute;
    font-size: 3em;
    color: #E6E6E6;
    top:320px;
    right: 150px;
    z-index: 100;
}

.fa-chevron-circle-right:hover {
    color: #8CC739;
}

.fa-chevron-circle-left {
    position: absolute;
    font-size: 3em;
    color: #E6E6E6;
    top:320px;
    left: 126px;
    z-index: 100;
}

.fa-chevron-circle-left:hover {
    color: #8CC739;
}




#teamsocial {
    max-width: 490px;
    float: left;
    margin-right: 3px;
    padding-top: 16px;
}

.fa-facebook {
    color: #8CC739;
}

.fa-facebook:hover {
    color: #4c66a4;
}

.fa-twitter {
    color: #8CC739;
    padding-right: 10px;
}

.fa-twitter:hover {
    color: #4099FF;
}

.fa-pinterest {
    color: #8CC739;
    padding-left: 10px;
}

.fa-pinterest:hover {
    color: #C91518;
}




.brndimg {
    float: left;
    width: 20%;
    max-height: 264.8px;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
}

.brndimg p {
    font-size: 1.2em;
    padding-top: 72%;
    padding-left: 6.25%;
    padding-bottom:  5%;
}

.price p {
    font-size: 1.2em;
    padding-bottom: .3em;
}

.brlineheight {

}

.pricelink {
    margin:0 auto;
    text-align: center;
    background-color: black;
    border-radius: 5px;
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pricelinkbutton {
    text-decoration: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 2px;
    color: white;
    font-weight: 400;
    margin-bottom: 200px;
}

.panelsfive li {
    list-style-type: none;
    display: inline-block;
    width: 185px;
}

.panelsfive li img {
   float: left;
}

.panelsfive p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.6em;
    font-weight: 600;
    float: left;
    letter-spacing: 1.3px;
    padding-left: 2px;
}

.socialfootericons {
    float: right;
}
.footicon {
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    background: white;
    border: 1px solid #E6E6E6;
    color: dimgray;
    margin-left: 8px;
    text-align: center;
}

.footicon .fa-facebook {
    color: #808080;
    margin-top: .35em;
}

.footicon .fa-twitter {
    color: #808080;
    margin-top: .35em;
    margin-left: .2em;
}

.footicon .fa-google-plus {
    color: #808080;
    margin-top: .35em;
}

.footicon .fa-linkedin {
    color: #808080;
    margin-top: .35em;
}

.footicon:hover{
    background-color: #E6E6E6;
}
