/* Object styles*/
#logomain {
    padding-bottom: 2em;
    
}
/* #butnmain {
    margin-top: 1em;
    padding-top: .6em;
    padding-bottom: .3em;
    padding-left: 1em;
    padding-right: 1em;
} */
.buttgr {
    display: block;
    width: 9.125em;
    height: 2.375em;
    background-color: #8CC739;
}
#littlemouse {
    margin-top: 12em;
    padding-bottom: 1em;
}
#navlogo {
    margin-left: 2em;
    margin-top: 1em;
}
.hr {
    display: block;
    width: 2.1875em;
    margin-top: .04em;
    margin-bottom: .04em;
    border-style: inset;
    border-width: .05em;
 }
#hr1 {
    display: block;
    width: 20%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40%;
    margin-right: 40%;
    border-style: inset;
    border-width: .05em;
    border-color: dodgerblue;
}
.hr2 {
    display: block;
    margin: 0 auto;
    width: 80%;
    margin-top: .04em;
    margin-bottom: .04em;
    border-style: inset;
    border-width: .05em;
    border-color: silver;
}

#mobile {
    display: inline-block;
    margin-top: 4%;
    margin-left: 6.4%;
    bottom: -20px;
}
.wedoicon {
    
}

.wedo a {
    height: 6em;
    width: 10em;
    margin: 0 auto;
}

.we span{
    margin: 0 auto;
    height: 6em;
    width: 6em;
}
.fa-circle {
    color: white;
    font-size: 4em;
    }

.fa-thumbs-up {
    color: #8CC739; 
    font-size: 1em;
    margin-top: 23px;
}

.fa-headphones {
    color: #8CC739; 
    font-size: 1em;
    margin-top: 23px;
}

.fa-star {
    color: #8CC739; 
    font-size: 1em;
    margin-top: 23px;
}

.fa-cube {
    color: #8CC739; 
    font-size: 1em;
    margin-top: 23px;
}

.wedo:hover .fa-circle {
    color: #8CC739;
        }
.wedo:hover .fa-thumbs-up {
    color: white;
        }
.wedo:hover .fa-headphones {
            color: white;
        }
.wedo:hover .fa-star {
            color: white;
        }
.wedo:hover .fa-cube {
            color: white;
        }





.blkicon {
    font-size: 4em;
    color: #8CC739; 
}

.imgbkgrnd {
    background-color: #8CC739;
    width: 221px;
    height: 250px;
    text-align: center;
    float: left;
    margin-left: 2px;
    margin-right: 17px;
  }

 .image {
    position: relative;
    width: 100%;          
}
/*.oneoffour .image:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(140,199,147,0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}
.oneoffour .image:hover:after {
    opacity: 1;
}*/

.image:hover {
    background-color: #8CC739;
    opacity: 0.7;
}

.image:hover {
    outline-style: solid;
    outline-color: green;
    outline-width: 2.4px;
    outline-offset: 0; 
}

.fa-caret-up {
    width: 140px;
    padding-left: 120px;
    color: black;
    display: inline-block;
    font-size: 5em;
    padding-left:86px;
    vertical-align: baseline;
    padding-bottom: -30px;
}

#johnsocial {
    max-width: 490px;
    float: left;
    margin-right: 3px;
    padding-top: 16px;
}

.fa-facebook {
    color: #8CC739;
}

.fa-facebook:hover {
    color: #4c66a4;
}

.fa-twitter {
    color: #8CC739;
    padding-right: 10px;
}  

.fa-twitter:hover {
    color: #4099FF;
}

.fa-pinterest {
    color: #8CC739;
    padding-left: 10px;
}

.fa-pinterest:hover {
    color: #C91518;
}




.brndimg {
    float: left;
    width: 320px;
    height: 320px;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
}

.brndimg p {
    font-size: 1.2em;
    padding-top: 240px;
    padding-left: 20px;
    padding-bottom: 16px;
}



.price p {
    font-size: 1.2em;
    padding-bottom: .3em;
}

.pricelink {
    margin:0 auto;
    text-align: center;
    background-color: black;
    border-radius: 5px;
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pricelinkbutton {
    text-decoration: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 2px;
    color: white;
    font-weight: 400;
    margin-bottom: 200px;
}

.panelsfive li {
    list-style-type: none;
    display: inline-block;
    width: 185px;
}

.panelsfive li img {
   float: left; 
}

.panelsfive p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.6em;
    font-weight: 600;
    float: left;
    letter-spacing: 1.3px;
    padding-left: 2px;
}



